<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207353984332-eufidqq1g87a0g29ibfga08rk46k48pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207353984332-eufidqq1g87a0g29ibfga08rk46k48pj</string>
	<key>API_KEY</key>
	<string>AIzaSyBMY1vkSzDQ4OXBBb-fYgWI_sPUa8fhkoM</string>
	<key>GCM_SENDER_ID</key>
	<string>207353984332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>space.travel.game</string>
	<key>PROJECT_ID</key>
	<string>hello-firebase-d45e1</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-firebase-d45e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207353984332:ios:f53fbf485abae164410be9</string>
</dict>
</plist>